src/org/adligo/fabricate/xml/project_v1_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://www.adligo.org/fabricate/xml/io_v1/project_v1_0.xsd" 
	xmlns:pns="http://www.adligo.org/fabricate/xml/io_v1/project_v1_0.xsd" 
	elementFormDefault="qualified"
	xmlns:lns="http://www.adligo.org/fabricate/xml/io_v1/library_v1_0.xsd"
	xmlns:cns="http://www.adligo.org/fabricate/xml/io_v1/common_v1_0.xsd" >
	
	<import schemaLocation="library_v1_0.xsd" 
		namespace="http://www.adligo.org/fabricate/xml/io_v1/library_v1_0.xsd">
	</import>
	<import schemaLocation="common_v1_0.xsd" 
		namespace="http://www.adligo.org/fabricate/xml/io_v1/common_v1_0.xsd">
	</import>
	
    <element name="fabricate_project" type="pns:fabricate_project_type"></element>
    
    <complexType name="fabricate_project_type">
    	<sequence>
            <element name="command" type="pns:project_command_type" minOccurs="0" maxOccurs="unbounded"></element>
            <element name="stages" type="pns:project_stages_type"
    			minOccurs="1" maxOccurs="1">
    		</element>
    		<element name="dependencies" type="lns:dependencies_type"
    			minOccurs="0" maxOccurs="1">
    		</element>
    	</sequence>
    	<!--  note there is no name attribute, as it is always the same as the 
    	project directory name -->
    </complexType>

    <complexType name="project_stages_type">
    	<sequence minOccurs="1" maxOccurs="unbounded">
    		<element name="stage" type="pns:project_stage_type" minOccurs="1" maxOccurs="unbounded">
	    		<annotation>
					<documentation>
						Each stage is called by main fabricate run (fabricate.xml), 
						if the I_FabStage is aware of participation it should check
						if the corresponding stage is present here in the project.xml,
						if it is it should execute.
					</documentation>
				</annotation>
			</element>
    	</sequence>
    </complexType>

    <complexType name="project_stage_type">
    	<sequence>
    		<element name="param" type="cns:param_type" minOccurs="0" maxOccurs="unbounded"></element>
    		<element name="task" type="cns:task_type" minOccurs="0" maxOccurs="unbounded"></element>
    	</sequence>
    	<attribute name="name" type="string"></attribute>
    </complexType>

    <complexType name="project_command_type">
    	<sequence>
    		<element name="param" type="cns:param_type" minOccurs="0" maxOccurs="unbounded"></element>
    	</sequence>
    	<attribute name="name" type="string"></attribute>
    </complexType>
</schema>